@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: aliceblue; */
    background-color: black;
}

body::-webkit-scrollbar{
    width: 0.75rem;
}

body::-webkit-scrollbar-track{
    background: rgb(255, 255, 255);
}
body::-webkit-scrollbar-thumb{
    background: #76e8fa;
}

.scrollbar::-webkit-scrollbar{
    width: 0.75rem;
}

.scrollbar::-webkit-scrollbar-track{
    background: rgb(255, 255, 255);
}
.scrollbar::-webkit-scrollbar-thumb{
    background: #76e8fa;
}


